/*Fundamentals & Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding doesn't increase element width */
}

body {
    font-family: Arial, sans-serif;
    color: #111827;
    line-height: 1.6;
    background-color: #ffffff;
}

/*Reusable components*/
.btn {
    padding: 10px 24px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.btn-primary {
    background-color: #2563EB;
    color: white;
}

.btn-primary:hover {
    background-color: #1D4ED8;
}

.btn-outline {
    background-color: transparent;
    color: #2563EB;
    border: 1px solid #2563EB;
}

.btn-outline:hover {
    background-color: #EFF6FF;
}

.section-title {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 5%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

/* logo */
.logo img {
    height: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #4B5563;
    font-weight: 500;
}

.nav-links a:hover {
    color: #111827;
}

/*Hero section*/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 120px 20px;
    display: flex;
    justify-content: center;
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-size: 56px;
    margin-bottom: 20px;
    font-weight: 800;
}

.hero h1 em {
    font-style: italic;
    color: #E5E7EB;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #D1D5DB;
}

.btn-large {
    padding: 14px 32px;
    font-size: 18px;
}
